<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_cadastro_Servlet</servlet-name>
        <servlet-class>servlets.login_cadastro_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_cadastro_servlet</servlet-name>
        <servlet-class>servlets.login_cadastro_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salva_servlet</servlet-name>
        <servlet-class>servlets.Salva_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comenta_Servlet</servlet-name>
        <servlet-class>servlets.comenta_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfil_Servlet</servlet-name>
        <servlet-class>servlets.perfil_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cumprir_meta_servlet</servlet-name>
        <servlet-class>servlets.cumprir_meta_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_cadastro_Servlet</servlet-name>
        <url-pattern>/login_cadastro_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_cadastro_servlet</servlet-name>
        <url-pattern>/login_cadastro_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salva_servlet</servlet-name>
        <url-pattern>/Salva_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comenta_Servlet</servlet-name>
        <url-pattern>/comenta_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfil_Servlet</servlet-name>
        <url-pattern>/perfil_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cumprir_meta_servlet</servlet-name>
        <url-pattern>/cumprir_meta_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
