body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #104E8B;
}

a:hover {
  color:#fed136;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
  background-color:  #104E8B;
}

#mainNav .navbar-toggler {
  font-size: 20px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #4F94CD;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-size: 35px;
  color: #fff;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 100%;
  font-weight: 500;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

#icon{
    width: 50px;
     padding: 5px;
     margin-left: 0px;
     margin-top: 0px;
          
}

#divPesquisa{
     width: 320px;
     margin-left: 20px;
     height:35px;
}

#txtPesquisa{
     padding-left:5px;
     font-size:15px;    
     height:32px;
     width:250px;
    margin: 0;
}

#btnPesquisa{
    height: 35px;
}

#iconPesquisa{
     width: 16px;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color:#104E8B ;
  }
  #mainNav .navbar-brand {
    font-size: 35px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #104E8B;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

}

h1{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 180px;
    margin-left: 150px;
    font-size: 19px;
    color: black;
}
           
p{
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
   margin-left: 150px;
   font-size: 17px; 
   color: black;
}
           
h2 a{
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin-left: 200px;
   font-size: 17px;
}

textarea{
   margin-left: 150px;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 16px;
    padding: 10px;
}

input{
   font-size: 16px;
   font-weight: 100;
   margin-left: 150px;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
           
#pergunta1, #pergunta2, #pergunta3, #pergunta4, #pergunta5, #pergunta6, #pergunta7{
   font-size: 17px;
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin-left: 200px;
   margin-right: 250px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.hearts {
  
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #104E8B;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.hearts {
  
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}